<div class="col-md-10 content-wrapper">
	<!-- main -->
	<div class="content">
		
		<div class="main-content">
			<!-- WIDGET WIZARD -->
			<div class="widget">
				<div class="widget-header"><h3><i class="fa fa-magic"></i> Registration</h3></div>
				<div class="widget-content">
					<div class="wizard-wrapper">
						<div id="demo-wizard" class="wizard">
							<ul class="steps">
								<li data-target="#step1" ><span class="badge ">1</span>Credentials<span class="chevron"></span></li>
								<li data-target="#step2" class="<%= 'active' if params[:id] ==  'organization' %> "> 
									<span class="badge">2</span>Organization<span class="chevron"></span>
								</li>
								<li data-target="#step3" class="<%= 'active' if params[:id] ==  'organization_address'%>"> 
									<span class="badge">3</span>Location<span class="chevron"></span>
								</li>
							</ul>
						</div>
						<div class="step-content">
							<div class="step-pane active" id="step2">
								
								<% puts "********************* params #{params.inspect}"%>
									
								<%= form_for @user, url: wizard_path do |f| %>
								  <% if @user.errors.any? %>
								    <div class="error_messages">
								      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
								      <ul>
								      <% @user.errors.full_messages.each do |msg| %>
								        <li><%= msg %></li>
								      <% end %>
								      </ul>
								    </div>
								  <% end %>
								  <%= yield f %>
  
								  <div class="actions">
								    <%= f.submit "Continue", class:  "btn btn-primary btn-next" %>
		
								  </div>
								<% end %>		
							
							</div>
                         </div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
 </div>


