<%= javascript_include_tag 'd3' %>

<div id="main_breadcrumb">
  <div id="sequence"></div>
  <div id="chart">
    <div id="explanation" style="visibility: hidden;">
      <span id="percentage"></span><br/>
      Products
    </div>
  </div>
</div>
<div id="sidebar_breadcrumb">
  <input type="checkbox" id="togglelegend"> Legend<br/>
  <div id="legend" style="visibility: hidden;"></div>
</div>

<%= javascript_include_tag 'sequences' %>
<script type="application/javascript">
    // Mapping of step names to colors.
    <% col=["#5687d1","#7b615c","#de783b","#6ab975","#a173d1","#bbbbbb","#5645d1","#7b415c","#de463b","#6ab785","#a134d1","#bb475b",
    "#5345d1","#67815c","#de890b","#623475","#6253d1","#b853bb","#562681","#7b265c","#d842ab","#678ba5","#a83cd1","#b0985b"] %>
    var colors = {
        <% (0..@tags.count).each do |t|%>
            <% if t == 0 %>
                <%= "\"#{@tags[t]}\":\"#{col[t]}\"".html_safe  %>
            <% else %>
                <%= ",\"#{@tags[t]}\":\"#{col[t]}\"".html_safe  %>
            <% end %>
        <% end %>
       // "analytics": "#5687d1",
       // "cluster": "#7b615c",
       // "search": "#de783b",
       // "account": "#6ab975",
       // "other": "#a173d1",

    };

    var json = JSON.parse('<%= @data_json.html_safe %>');
    createVisualization(json);
    /*$(document).ready(function(){
        createVisualization(json);
    });*/
</script>