<% model = params[:controller].split('dashboard/')[1] %>
<% action = params[:action] %>
<ul class="nav nav-tabs" role="tablist">
	<li class= <%= "active" if action == 'index' %> > <%=link_to "Time line", "/dashboard/#{model}" %> </li>
	<li class= <%= "active" if action == "by_week_days" %> > 
		<%=link_to "By week days", "/dashboard/#{model}/by-week-days" %> 
	</li>
	<li class= <%= "active" if action == "by_hours" %> > <%=link_to "By hours", "/dashboard/#{model}/by-hours" %> </li>
    <!-- li class= <% 'active' if action == 'by_status' %>><%=link_to 'By Status', "/dashboard/#{model}/by-status" %>
	</li-->
    <li class= <%= 'active' if action == 'by_source' %>><%=link_to 'By Source', "/dashboard/#{model}/by-sources" %></li>
</ul>

<% if action == 'index' %>	
	<div class="btn-group pull-right">
	  <button id="menuTimeLine" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
	    By: <%= @filter_by %>
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="menuTimeLine" role="menu">
	    <%= render 'dashboard/shared/time_line_menu_options' %>
	  </ul>
	</div>
<% end %>	


