<% model = params[:controller].split('dashboard/')[1] %>
<% action = params[:action] %>
<ul class="nav nav-tabs" role="tablist">
	<li class= <%= "active" if action == 'index' %> > <%=link_to "Time line", "/dashboard/#{model}" %> </li>
	<% {wday: 'Week days', hour: 'Hours', status: 'status', sources: 'sorces'}.each do |meth, link| %>
		<li class= <%= "active" if action == "by_#{meth}" %> > 
			<%=link_to "#{link}", "/dashboard/#{model}/by-#{meth}" %> 
		</li>
	<% end %>
</ul>

<% if action == 'index' %>	
	<div class="btn-group pull-right">
	  <button id="menuTimeLine" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
	    By: <%= @filter %>
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="menuTimeLine" role="menu">
	    <%= render 'dashboard/shared/time_line_menu_options' %>
	  </ul>
	</div>
<% end %>	


