<%= render 'dashboard/shared/form_sales' %>

<% if @data[0][:data].count > 0 %>
    <%= render 'dashboard/shared/by_amount', data: @data %>

    <div class="widget widget-table">
      <div class="widget-header">
        <h3>
          <i class="fa fa-table"></i>
          Orders
        </h3>
      </div>
      <div class="widget-content">
        <table class="table table-sorting table-striped table-hover datatable dataTable" cellpadding="0" cellspacing="0" width="100%" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
          <thead>
          <tr role="row">
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Activate to sort column ascending" style="width: 216px;">Name</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 245px;" aria-sort="descending" aria-label="Activate to sort column ascending">Month</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Activate to sort column ascending" style="width: 97px;">Year</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Activate to sort column ascending" style="width: 156px;">CC Type</th>
          </tr>
          </thead>

          <tbody role="alert" aria-live="polite" aria-relevant="all">
          <% odd = false %>
          <% local_months = %w(January February March April May June July August September October November December) %>
          <% @amount_data_table.each do |ox| %>
              <% odd = !odd %>

              <tr <%= odd ? 'class=odd' : 'class=even' %>>
                <td class=" "><%= ox.name %></td>
                <td class=" "><%= local_months[ox.month - 1] %></td>
                <td class=" "><%= ox.year %></td>
                <td class=" "><%= ox.cc_type %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

<%else%>
    <h3>Not Sources Found</h3>
<% end %>