<!-- main-nav -->
<nav class="main-nav">
	
	<ul class="main-menu">
     <li>
		 <%=link_to  "/demo-dashboard" do %> 
		 	<i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span>
		 <% end %> 
	 </li>

		<li class="active"><a href="#" class="js-sub-menu-toggle"><i class="fa fa-bar-chart-o fw"></i><span class="text">Sales</span>
			<i class="toggle-icon fa fa-angle-left"></i></a>
			<ul class="sub-menu open">
			   <% ['revenues','transactions','items','adjustments','taxes','shipments','sources'].each do |resource| %>
			     <li>
					 <%=link_to  "/dashboard/sales/#{resource}" do %> 
					 	<span class="text"><%= resource.camelize %></span> 
					 <% end %> 
				 </li>
			   <% end %>
			</ul>		
		</li>
		
		<li ><a href="#" class="js-sub-menu-toggle"><i class="fa fa-clipboard fa-fw"></i><span class="text">Pages</span>
			<i class="toggle-icon fa fa-angle-left"></i></a>
			<ul class="sub-menu">
				<li class="<%= 'active' if params[:action] == 'profile' %>"  >
					 <%=link_to  page_path('profile') do %> 
					 	<span class="text">Profile</span> 
					 <% end %> 
				</li>
				<li class="<%= 'active' if params[:action] == 'invoice' %>"  >
					 <%=link_to  page_path('invoice') do %> 
					 	<span class="text">Invoice</span> 
					 <% end %> 
				</li>
				<li class="<%= 'active' if params[:action] == 'knowledgebase' %>"  >
					 <%=link_to  page_path('knowledgebase') do %> 
					 	<span class="text">Knowledge Base</span> 
					 <% end %> 
				</li>
				<li class="<%= 'active' if params[:action] == 'inbox' %>"  >
					 <%=link_to  page_path('inbox') do %> 
					 	<span class="text">Inbox</span> 
					 <% end %> 
				</li>
				<li class="<%= 'active' if params[:action] == 'register' %>"  >
					 <%=link_to  page_path('register') do %> 
					 	<span class="text">Register</span> 
					 <% end %> 
				</li>
				<li class="<%= 'login' if params[:action] == 'login' %>"  >
					 <%=link_to  page_path('login') do %> 
					 	<span class="text">Login</span> 
					 <% end %> 
				</li>
				<li class="<%= 'active' if params[:action] == 'blank' %>"  >
					 <%=link_to  page_path('blank') do %> 
					 	<span class="text">Blank</span> 
					 <% end %> 
				</li>
			</ul>
		</li>
		
		<li ><a href="#" class="js-sub-menu-toggle"><i class="fa fa-bar-chart-o fw"></i><span class="text">Charts &amp; Statistics</span>
			<i class="toggle-icon fa fa-angle-left"></i></a>
			<ul class="sub-menu ">
	
				<li class="<%= 'active' if params[:id] == 'charts-statistics' %>"  >
					 <%=link_to  page_path('charts-statistics') do %> 
					 	<span class="text">Statistics Charts </span> 
					 <% end %> 
				</li>
				<li class="<%= 'active' if params[:id] == 'charts-statistics-interactive' %>"  >
					 <%=link_to  page_path('charts-statistics-interactive') do %> 
					 	<span class="text"> Charts Statistics Interactive </span> 
					 <% end %> 
				</li>
				<li class="<%= 'active' if params[:id] == 'charts-statistics-real-time' %>"  >
					 <%=link_to  page_path('charts-statistics-real-time') do %> 
					 	<span class="text">Realtime Charts </span> 
					 <% end %> 
				</li>
	
				<li class="<%= 'active' if params[:id] == 'charts-d3charts' %>"  >
					 <%=link_to  page_path('charts-d3charts') do %> 
					 	<span class="text">D3 Charts</span> 
					 <% end %> 
				</li>
			</ul>
		</li>
		
		<li ><a href="#" class="js-sub-menu-toggle"><i class="fa fa-edit fw"></i><span class="text">Forms</span>
			<i class="toggle-icon fa fa-angle-left"></i></a>
			<ul class="sub-menu ">
				
				<li class="<%= 'active' if params[:id] == 'form-inplace-editing' %>"  >
					 <%=link_to  page_path('form-inplace-editing') do %> 
					 	<span class="text">In-place Editing <span class="badge element-bg-color-blue">New</span></span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'form-elements' %>"  >
					 <%=link_to page_path('form-elements') do %>
					 	<span class="text">Form Elements <span class="badge element-bg-color-blue">Updated</span></span>
					 <% end %> 
				</li>

				<li class="<%= 'active' if params[:id] == 'form-layouts' %>"  >
					 <%=link_to  page_path('form-layouts') do %> 
					 	<span class="text">Form Layouts <span class="badge element-bg-color-blue">New</span></span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'form-bootstrap-elements' %>"  >
					 <%=link_to  page_path('form-bootstrap-elements') do %> 
					 	<span class="text">Bootstrap Elements <span class="badge element-bg-color-blue">New</span></span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'form-validations' %>"  >
					 <%=link_to  page_path('form-validations') do %> 
					 	<span class="text">Validation</span>
					 <% end %> 
				</li>

				<li class="<%= 'active' if params[:id] == 'form-file-upload' %>"  >
					 <%=link_to  page_path('form-file-upload') do %> 
					 	<span class="text">File Upload</span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'form-text-editor' %>"  >
					 <%=link_to  page_path('form-text-editor') do %> 
					 	<span class="text">Text Editor <span class="badge element-bg-color-blue">New</span></span>
					 <% end %> 
				</li>
								
			</ul>
		</li>
		
		<li ><a href="#" class="js-sub-menu-toggle"><i class="fa fa-list-alt fw"></i><span class="text">UI Elements</span>
			<i class="toggle-icon fa fa-angle-left"></i></a>
			<ul class="sub-menu ">
				
				<li class="<%= 'active' if params[:id] == 'ui-elements-general' %>"  >
					 <%=link_to  page_path('ui-elements-general') do %> 
					 	<span class="text">General Elements</span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'ui-elements-buttons' %>"  >
					 <%=link_to  page_path('ui-elements-buttons') do %> 
					 	<span class="text">Buttons</span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'ui-elements-icons' %>"  >
					 <%=link_to  page_path('ui-elements-icons') do %> 
					 	<span class="text">Icons</span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'ui-elements-flash-message' %>"  >
					 <%=link_to  page_path('ui-elements-flash-message') do %> 
					 	<span class="text">Flash Message</span>
					 <% end %> 
				</li>
	
			</ul>
		</li>
		
		<li ><a href="widgets.html"><i class="fa fa-puzzle-piece fa-fw"></i><span class="text">Widgets</span></a></li>
		<li ><a href="#" class="js-sub-menu-toggle"><i class="fa fa-gears fw"></i><span class="text">Components</span>
			<i class="toggle-icon fa fa-angle-left"></i></a>
			<ul class="sub-menu ">
				
				<li class="<%= 'active' if params[:id] == 'components-wizard' %>"  >
					 <%=link_to  page_path('components-wizard') do %> 
					 	<span class="text">Wizard (with validation)</span>
					 <% end %> 
				</li>	
				
				<li class="<%= 'active' if params[:id] == 'components-calendar' %>"  >
					 <%=link_to  page_path('components-calendar') do %> 
					 	<span class="text">Calendar</span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'components-maps' %>"  >
					 <%=link_to  page_path('components-maps') do %> 
					 	<span class="text">Maps</span>
					 <% end %> 
				</li>

				<li class="<%= 'active' if params[:id] == 'components-gallery' %>"  >
					 <%=link_to  page_path('components-gallery') do %> 
					 	<span class="text">Gallery</span>
					 <% end %> 
				</li>
		
			</ul>
		</li>
		
		<li ><a href="#" class="js-sub-menu-toggle"><i class="fa fa-table fw"></i><span class="text">Tables</span>
			<i class="toggle-icon fa fa-angle-left"></i></a>
			<ul class="sub-menu ">
				
				<li class="<%= 'active' if params[:id] == 'tables-static-table' %>"  >
					 <%=link_to  page_path('tables-static-table') do %> 
					 	<span class="text">Static Table</span>
					 <% end %> 
				</li>
				
				<li class="<%= 'active' if params[:id] == 'tables-dynamic-table' %>"  >
					 <%=link_to  page_path('tables-dynamic-table') do %> 
					 	<span class="text">Dynamic Table</span>
					 <% end %> 
				</li>

			</ul>
		</li>
		
		<li ><a href="typography.html"><i class="fa fa-font fa-fw"></i><span class="text">Typography</span></a></li>
	</ul>
</nav><!-- /main-nav -->

<div class="sidebar-minified js-toggle-minified">
	<i class="fa fa-angle-left"></i>
</div>



