<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= content_for?(:title) ? yield(:title) : "Grocer" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Grocer" %>">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'highcharts'%>
    <%= javascript_include_tag 'chartkick' %>
	
	

    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', media: 'all' %>
	
  </head>
  <body>
	<div class="wrapper">
	    <%= render 'layouts/navigation' %>
		<%= render 'layouts/messages'%>
		<div class="bottom">
			<div class="row">
				<div class="col-md-2 left-sidebar">
					<% puts "params ************** #{params.inspect}"%>
					<% if params[:controller] == 'high_voltage/pages'  %>
						<%= render 'layouts/sidebar_ref_links' %>
					<% else %>
						<%= render 'layouts/sidebar_links' %>
					<% end %>
				</div>				
				<div <%= 'class=col-md-10' if content_for? :nav_bar %> >
				  <%= render :partial => 'dashboard/shared/nav_bar' if content_for? :nav_bar %>
				  <%= yield %>
				</div>
			</div>
		</div>
    </div>
    <%= yield :charts_js %>
    <%= javascript_include_tag 'application' %>
	
	<script src="http://www.google.com/jsapi"></script>
  </body>
</html>
